.tile {
    display: inline-block;
    height: 90px;
    width: 100px;
    background: red;
    border: 1px solid black;
    text-align: center;
    font-size: .8em;
}

@media screen and (max-width: 1000px) {
    .tile {
        height: 290px;
        width: 290px;
        font-size: 2.35em;
    }
}